<!DOCTYPE html>
<html>
<title>Email Security Log Alert</title>

<body>
    <h2>Email Security Alert: {{.Mess}}</h2>
    <span>Target: {{.Proto}} - {{.Host}} - {{.URI}}</span>
    <hr>
    <div>Detail: </div>
    <div> From: {{.ClientIP}}</div>
    <div>Headers: {{.Headers}}</div>
    <div>Body: {{.Body}}</div>
    <div> Form: {{.Form}}</div>
    <div>Happened At: {{.CreatedAt}}</div>
    <div>Please click <a href="http://{{.Dashboards}}/dashboards/sec_logs/{{.SecID}}">here</a>
        for more details </div>
</body>

</html>